:root {
  --color-main: #fff;
  --color-accent: #ea4f4f;
  --color-sub-accent: #959494;
  --font-main: 'GTWalsheimPro-Regular';
  --font-accent: 'GTWalsheimPro-Light';
  --bg-color: #efefef;
  --before-color: #000;
}